{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RollingLog</title>
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">

</head>
<body>
    <header>
        <h1 class="logo">
            <a href="{% url 'home' %}">
                 <img src="{% static 'images/rollinglog_logo.png' %}" alt="RollingLog Logo">

            </a>
        </h1>

        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'paper-index' %}">All Papers</a></li>
                    <li><a href="{% url 'paper-create' %}">Add Paper</a></li>
                    <li><a href="{% url 'brand-index' %}">All Brands</a></li>
                    <li><a href="{% url 'brand-create' %}">Add Brands</a></li>
    
                    <li>
                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" style="background: none;border:none;color:inherit;cursor:pointer;">
                                Log Out
                            </button>
                        </form>
                    </li>
                    <li>Welcome, {{ user.username }}</li>
                {% else %}
                    <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 RollingLog</p>
    </footer>
    
</body>
</html>