{% extends 'base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/papers/detail.css' %}">
<section class="paper-detail">
    <h1>{{ paper.name }}</h1>

    {% if paper.image %}
        <img src="{{ paper.image.url }}" alt="{{ paper.name }}" class="paper-image">
    {% endif %}

    <div class="paper-detail-info">
        <h1>{{ paper.name }}</h1>

    <p><strong>Brand:</strong> {{ paper.brand.name }}</p>
    <p><strong>Size:</strong> {{ paper.size }}</p>
    <p><strong>Material:</strong> {{ paper.material }}</p>
    <p><strong>Flavor:</strong> {{ paper.flavor }}</p>
    <p><strong>Rating:</strong> {{ paper.rating }}</p>
    <p><strong>Added by:</strong> {{ paper.user.username }}</p>
    <div class="paper-actions">
        <a href="{% url 'paper-index' %}" class="back-link">Back to all papers</a>
        <a href="{% url 'paper-update' paper.id %}">Edit</a> |
        <a href="{% url 'paper-delete' paper.id %}">Delete</a>
    </div>
</div>
</section>

<section class="reviews">
    <h2>Reviews</h2>
    {% if paper.reviews.all %}
        <ul>
            {% for review in paper.reviews.all %}
                <li>
                    <p><strong>{{ review.user.username }}</strong> ({{ review.created_at|date:"M, d, Y"}})</p>
                    <p>Rating: {{ review.rating }}/5</p>
                    <p>{{ review.comment }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No review yet.</p>
    {% endif %}
</section>

<section class="add-review">
    <h3>Add a Review</h3>
    <form method="POST" action="{% url 'add-review' paper.id %}">
        {% csrf_token %}
        <label for="rating">Rating:</label>
        <input type="number" name="rating" min="1" max="5" required><br>

        <label for="comment">Comment:</label><br>
        <textarea name="comment" rows="3"></textarea>

        <button type="submit">Submit Review</button>
    </form>
</section>
{% endblock %}

